.hero h3,
.choose-us h3,
.movies h3,
.movies-up-coming h3 {
  color: var(--cl-primary);
  text-align: center;
}
.hero h1 {
  text-align: center;
  color: #121212;
}

.hero p {
  color: var(--cl-secondary);
  text-align: center;
}
.hero > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero > div:nth-child(2) > div {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 159px);
  grid-template-rows: 120px 58px 150px;
  grid-template-areas:
    "jhon lion"
    "spider lion"
    "spider roblox";
  gap: 8px;
}

.hero > div:nth-child(2) > div > div:nth-child(1) > img {
  width: 159px;
  height: 125px;
}
.hero > div:nth-child(2) > div > div:nth-child(2) > img {
  width: 159px;
  height: 185px;
}
.hero > div:nth-child(2) > div > div:nth-child(3) > img {
  width: 159px;
  height: 185px;
}
.hero > div:nth-child(2) > div > div:nth-child(4) > img {
  width: 159px;
  height: 125px;
}

.hero > div:nth-child(2) > div > div:nth-child(1) {
  grid-area: jhon;
}
.hero > div:nth-child(2) > div > div:nth-child(2) {
  grid-area: lion;
}
.hero > div:nth-child(2) > div > div:nth-child(3) {
  grid-area: spider;
}
.hero > div:nth-child(2) > div > div:nth-child(4) {
  grid-area: roblox;
}

.choose-us h1 {
  margin-bottom: 14px;
}
.choose-us h2 {
  margin-bottom: 41px;
}
.choose-us h2,
.movies h2,
.movies-up-coming h2 {
  color: #121212;
  font-weight: var(--font-normal);
  text-align: center;
  margin-bottom: 1rem;
}

.choose-us > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.choose-us > div:nth-child(3) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.4rem;
}

.choose-us > div:nth-child(3) > div > div {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #1d4ed833;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-us > div:nth-child(3) > div > h4 {
  color: #18181b;
}
.choose-us > div:nth-child(3) > div > p {
  color: #52525b;
}

.movies h1 {
  margin-bottom: 14px;
}
.movies h2 {
  margin-bottom: 41px;
}
.movies > div:nth-child(3),
.movies-up-coming > div:last-child {
  width: 100%;
  margin-bottom: 38px;
}

.movies > div:nth-child(3) > div,
.movies-up-coming > div:last-child > div {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 20px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.movies > div:nth-child(3) ::-webkit-scrollbar,
.movies-up-coming > div:last-child::-webkit-scrollbar {
  display: none;
}

.movies > div:last-child {
  display: none;
}
.movies > div:last-child > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  display: block;
}
.movies > div:last-child > a > span {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  color: var(--cl-primary);
}
.movies > div:last-child > a > img {
  width: 20px;
  height: 20px;
}

.movies-up-coming > div:first-child > div:last-child {
  display: none;
}
.movies-up-coming > div:first-child > div:last-child > button {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.movies-up-coming > div:first-child > div:last-child > button:first-child {
  background-color: #a0a3bd;
}
.movies-up-coming > div:first-child > div:last-child > button:last-child {
  background-color: var(--cl-primary);
}

.subcribe > div {
  background-color: var(--cl-primary);
  padding: 61px 36px;
  border-radius: 20px;
  position: relative;
  height: 536px;
}
.subcribe > div > div:last-child {
  width: 237px;
  height: 237px;
  border: 7px solid var(--cl-white);
  border-radius: 50%;
  position: absolute;
  right: -115px;
  bottom: -150px;
}

.subcribe h2 {
  text-align: center;
  color: var(--cl-white);
  font-weight: var(--font-normal);
  font-size: 32px;
  margin-bottom: 37px;
}
.subcribe form {
  display: flex;
  flex-direction: column;
}
.subcribe form > input {
  background-color: #2563eb;
  border: 1px solid #d4d4d8;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: var(--font-normal);
}
.subcribe form > input::placeholder {
  color: var(--cl-white);
}
.subcribe form > input,
.subcribe form > button {
  padding: 16px 12px;
  margin-bottom: 11px;
}
.subcribe form > button {
  background-color: var(--cl-white);
  color: var(--cl-primary);
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 28px;
  letter-spacing: -0.2px;
  border-radius: 9px;
}
.movies > div:nth-child(3) > div > div > div:last-child {
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .hero h1,
  .hero h3,
  .hero p,
  .choose-us h3,
  .choose-us h2,
  .movies-up-coming h3,
  .movies-up-coming h2 {
    text-align: left;
  }
  hero h1 {
    margin-bottom: 10px;
  }
  section h3 {
    margin-bottom: 14px;
  }
  section h2 {
    margin-bottom: 28px;
  }
  .hero > div:first-child {
    text-align: left;
    flex: 1.5;
  }
  .hero > div:last-child {
    flex: 1;
  }
  .hero > div:last-child > div {
    grid-template-columns: repeat(2, 217px);
    grid-template-rows: 170px 80px 170px;
  }
  .hero > div:last-child > div > div:nth-child(1) > img {
    width: 217px;
    height: 170px;
  }
  .hero > div:last-child > div > div:nth-child(2) > img {
    width: 217px;
    height: 250px;
  }
  .hero > div:last-child > div > div:nth-child(3) > img {
    width: 217px;
    height: 250px;
  }
  .hero > div:last-child > div > div:nth-child(4) > img {
    width: 218px;
    height: 170px;
  }
  .movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .movies h2 {
    width: 545px;
  }

  .movies-up-coming > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .choose-us h2 {
    width: 638px;
    margin: 14px 0 24px;
  }
  .choose-us > div:last-child {
    flex-direction: row;
  }
  .choose-us > div:nth-child(3) > div {
    align-items: start;
    text-align: left;
  }
  .choose-us > div:nth-child(3) > div > div {
    margin-bottom: 10px;
  }
  .subcribe > div {
    height: 318px;
  }
  .subcribe h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .movies div:last-child {
    display: block;
  }
  .movies div:last-child a {
    display: flex;
  }

  .movies-up-coming > div:first-child > div:last-child {
    display: flex;
    gap: 9px;
  }
  .subcribe form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: var(--font-normal);
    gap: 11px;
  }
  .subcribe form input,
  .subcribe form > button {
    width: 230px;
  }
}
